/*============================================================= Components =============================================================*/

/*====================================== Buttons ======================================*/

.btn {
    border: none;
    background-color: none;

    &.btn-primary {
        background-color: $primary;
        padding: $margin-small $margin-medium;
        border-radius: 8px;
        color: $white;
        text-decoration: none;
        @include shadow-buttons($black, 0.2);
        @include transition(all, 0.2s, ease);

        &:hover {
            background-color: $primary-75;
        }
    }
}

/*====================================== Breadcrumbs ======================================*/

.breadcrumbs {
    @extend %ulNone;
    @include flexbox(center, flex-start, wrap);

    li {
        position: relative;
        text-transform: capitalize;

        &:not(:last-child) {
            margin-right: $margin-small;

            &:after {
                content: "/";
                margin-left: $margin-small;
            }
        }

        a {
            color: $primary;
            @include transition(all, 0.2s, ease);
            @include body-bold();
            text-decoration: none;

            &:hover {
                color: $primary-75;
            }
        }
    }
}

/*====================================== Social ======================================*/

.social {
    @extend %ulNone;
    @include flexbox(center, flex-start, nowrap);

    li {
        &:not(:last-child) {
            margin-right: $margin-small;
        }

        a {
            background-color: $primary;
            @include flexbox(center, center, nowrap);
            color: $white;
            text-decoration: none;
            $width: 30px;
            width: $width;
            height: $width;
            border-radius: 50%;
            @include transition(all, 0.2s, ease);

            &:hover {
                background-color: $white;
                color: $primary;
            }
        }
    }
}

/*====================================== Pagination ======================================*/

.pagination {
    width: 100%;
    float: left;
    @include flexbox(center, center, nowrap);
    @extend %ulNone;
    margin-top: $margin-big;

    li {
        &:not(:last-child) {
            margin-right: $margin-small;
        }

        a {
            $width: 25px;
            width: $width;
            height: $width;
            background-color: $primary;
            @include flexbox(center, center, nowrap);
            text-decoration: none;
            color: $white;
            @include body-bold();
            @include border-radius(5px);
            @include font-size(14px);
            @include transition(all, 0.2s, ease);

            &:hover {
                background-color: $white;
                color: $primary;
            }
        }

        &.active a {
            background-color: $white;
            color: $primary;
        }
    }
}

/*====================================== HR ======================================*/

hr {
    width: 100%;
    border: 1px solid $gray;
    float: left;
}

/*====================================== Forms ======================================*/

.form {
    width: 100%;

    ul {
        @extend %ulNone;
        @include flexbox(flex-start, flex-start, wrap);

        li {
            width: 100%;
            @include flexbox(flex-start, flex-start, nowrap);
            @include flex-direction(column);

            &:first-child {
                width: 50%;
                padding-right: $margin-small;
            }

            &:nth-child(2) {
                width: 50%;
                padding-left: $margin-small;
            }

            &:not(:last-child) {
                margin-bottom: $margin-medium;
            }

            label {
                @include body-bold();
            }

            input, textarea {
                width: 100%;
                padding: $margin-small/2;
                border: 1px solid $gray;
                border-radius: 0;
            }

            textarea {
                height: 200px;
            }
        }
    }

    .btn {
        float: right;
        margin-top: $margin-medium;
        cursor: pointer;
        @include font-size(16px);
    }
}