/*============================================================= Footer =============================================================*/

footer {
    width: 100%;
    float: left;
    background-color: $footer-bg;
    position: relative;
    z-index: 2;
    @include flexbox(center, space-between, nowrap);
    padding: $margin-medium 5vw;

    .logo {
        color: $white;
        @include body-bold();

        span {
            color: $primary;
        }
    }
}