/*============================================================= Header =============================================================*/

header {
    position: fixed;
    // top: 0;
    top: 50px;
    left: 0;
    z-index: 999;
    @include flexbox(center, space-between, nowrap);
    width: 100%;
    padding: $margin-medium 5vw;

    .logo {
        font-size: 2vw;
        text-decoration: none;
        color: $dark-gray;
        @include body-bold();
        @include transition(all, 0.2s, ease);
        position: relative;
        z-index: 999;
        color: $white;

        span {
            color: $primary;
        }

        &:hover {
            color: $primary;
        }
    }

    .logo-img {
        width: 5vw;
        height: auto;
        position: relative;
        z-index: 999;
    }

    .burger {
        width: 30px;
        height: 20px;
        float: left;
        position: relative;
        cursor: pointer;
        display: none;
        z-index: 9999;

        span {
            width: 100%;
            height: 2px;
            background-color: $white;
            float: left;
            position: absolute;
            left: 0;

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: 45%;
            }

            &:last-child {
                bottom: 0;
            }
        }
    }

    nav {
        position: relative;

        ul {
            @extend %ulNone;
            @include flexbox(center, flex-start, nowrap);

            li:not(:last-child) {
                margin-right: $margin-medium;
            }

            a, i {
                color: $white;
                text-decoration: none;
                font-size: 18px;
                @include transition(all, 0.2s, ease);
                cursor: pointer;

                &:hover {
                    color: $primary;
                }

                &.fa-search {
                    font-size: 16px;
                }
            }

            .search {
                .search-container {
                    position: fixed;
                    top: 50vh;
                    left: 50vw;
                    width: 0;
                    height: 0;
                    background-color: $primary;
                    z-index: 9999;
                    @extend %flexCenter;
                    flex-direction: column;
                    overflow: hidden;
                    @include transition(all, 0.5s, ease);
                    padding: 0;

                    .fa-times {
                        position: absolute;
                        top: 20px;
                        right: 5vw;
                        opacity: 0;
                        @include transition(all, 0.2s, ease);
                        @include transform(translateX(-10px));

                        &:hover {
                            color: $white;
                        }
                    }

                    .input-search-container {
                        position: relative;
                        width: 100vw;
                        max-width: 500px;
                        margin-bottom: $margin-big;
                        $font-size: 1.7vw;
                        opacity: 0;
                        @include transition(all, 0.2s, ease);
                        @include transform(translateX(-10px));

                        input {
                            width: 100%;
                            border: none;
                            background: none;
                            font-size: $font-size;
                            color: $white;
                            position: relative;
                            padding-right: $margin-medium;
                        }

                        &:before {
                            content: "";
                            width: 100%;
                            height: 2px;
                            background: $white;
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            float: left;
                        }

                        &:after {
                            @include icon("\f002");
                            font-weight: 900;
                            color: $white;
                            font-size: $font-size * 0.8;
                            position: absolute;
                            right: 0;
                            top: 0.2vw;
                        }
                    }

                    .tags {
                        @include flexbox(center, center, wrap);
                        float: left;
                        width: 100%;
                        opacity: 0;
                        @include transition(all, 0.2s, ease);
                        @include transform(translateX(-10px));

                        li {
                            &:not(:last-child) {
                                margin-right: $margin-medium;
                            }

                            a {
                                border: 1px solid $white;
                                float: left;
                                padding: $margin-small $margin-medium;

                                &:hover {
                                    color: $secondary;
                                    border-color: $secondary;
                                }
                            }
                        }
                    }
                }

                &.search-open {
                    .search-container {
                        top: 50px;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        padding: $margin-big 5vw;

                        .fa-times, .input-search-container, .tags {
                            opacity: 1;
                            @include transform(translateX(0));
                            transition-delay: 0.5s;
                        }
                    }
                }
            }
        }
    }

    &.header-scroll {
        .burger span {
            background-color: $dark-gray;
        }

        .logo, nav ul a, nav ul i {
            color: $dark-gray;

            &:hover {
                color: $primary;
            }
        }

        .search-container a, .search-container i, .search-container input {
            color: $white;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        .logo {
            font-size: 20px;
        }

        .logo-img {
            width: 50px;
        }

        .burger {
            display: inherit;
        }

        nav {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: auto;
            background-color: $white;
            @include transition(all, 0.8s, ease);

            ul {
                @include flexbox(center, center, nowrap);
                flex-direction: column;
                padding: $margin-medium 5vw;
                padding-top: $margin-big + $margin-medium;

                li:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: $margin-small;
                }

                a, i {
                    color: $dark-gray;
                }
            }
        }

        &.nav-open {
            .logo {
                color: $dark-gray;

                &:hover {
                    color: $primary;
                }
            }

            .burger span {
                background-color: $black;
                @include transition(all, 0.5s, ease);

                &:first-child {
                    top: 45%;
                    @include transform(rotate(45deg));
                }

                &:nth-child(2) {
                    width: 0;
                }

                &:last-child {
                    bottom: 45%;
                    @include transform(rotate(-45deg));
                }
            }

            nav {
                top: 0;
                @include transition(all, 0.5s, ease);
            }
        }
    }
}